{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я Иоанн, автор проекта</h1>
    <p>
      Ссылки для связи со мной 
    </p>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://github.com/ioann7">GitHub</a>
        </li>
        <li class="list-group-item">
          <a href="https://t.me/ioannchimrov">Telegram</a>
        </li>
        <li class="list-group-item">
          <a href="https://vk.com/ioann.chimrov">VK</a>
        </li>
      </ul>
    </aside>
  </div>
{% endblock %}